<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
   
   <add name="CookooDBEntities" connectionString="metadata=res://*/CookooModel.csdl|res://*/CookooModel.ssdl|res://*/CookooModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=2cf76238-e26a-4502-945c-a30c0087afc7.sqlserver.sequelizer.com;initial catalog=db2cf76238e26a4502945ca30c0087afc7;user id=mmwvoiybotkyiuhb;password=dND5VDUNqhqZwPzu8aaVAdd5p2tZM6cLXSVqZse8RoJAdgM3ue6tWDKaJGN4j4at;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>